/*regular montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

main{
    display: flex;
    flex-direction: column;
    border: none; /* added to remove border */
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #A473E6, #9DB7FD, #87FAE7);
}

.logo {
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: absolute;
    right: 3%;
    top: -12px;
  }

.slogan {
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 20px;

    color: #FFFFFF;

    top: 35px;
    right: 3%;
  }