/*regular montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.articleOpen{
    border: none;
}

.openContainer{
    display: flex;
    background-color: brown;
    flex-direction: column;

}

.title{
    font-size: 20px;
}
