/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px;
    height: auto;
    margin-top: auto;
    box-shadow: none;
}

.h1.Comment{
    position: relative;
    top: 0;
}


form > textarea {
    margin: -1em;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    width: 50%px;
    height: 50px;
}

.formWrapper {
    position: fixed;
    top: 600px;
}

.comment{
    background-color: blue;
    bottom: 0;
}

.responses {
    margin-top: 4em;
    max-width: 90%;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.responses > p > span {
    color: blue;
}
*/