.text{
font-family:Arial, Helvetica, sans-serif
}
/* this might fuck with geneva's css */ 
body, #root {
  margin: 0;
  padding: 0;
}
  .logo {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
    position: relative;
    left: 5%;
    top: 5%;
  }
  
  .topics {
    font-size: 1rem;
    letter-spacing: 0.25rem;
    position: relative;
    left: 5%;
    top: 8%;
  }

  .articleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top:8%;
    padding-left: 5%;
    gap: 20px;
}
    
