/* regular montserrat*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.dboard{
  display:grid;
  height: 90vh;
  grid-template-columns: 2fr 3fr;
  grid-template-rows:  auto;
  grid-template-areas:
  "l articles "
}
.welcome{
  grid-area: l;
  padding-top: 5%;
  width: 80%;
  padding-left: 10%;
}
.logos{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  left: 70%;
}

.logo1{
  font-family: 'Georgia', sans-serif;
  margin-bottom: -15px;
}

.logo2{
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
.contributorBtn{
  position: absolute;
  background-color: #3A448C;
  width: 80px;
  height: 80px;
  border-radius: 999px;
  margin-left: 1300px;
  margin-top: -120px;
  box-shadow: none;
  border: none;
  transition: all 0.3s ease; /* add transition for smooth animation */
}

/* apply styles on hover */
.contributorBtn:hover {
  transform: scale(1.2); /* increase size */
  background-color: #4D5B9D; /* change color */
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25); /* add box-shadow */
  cursor: pointer; /* add pointer cursor */
}


.profileBtn{
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.insights{
  grid-area: l;
  width: 90%;
  justify-self: start;
  align-self: end;
  justify-self: center;
  padding-bottom: 45px;
}

.quoteImagePos{
  margin-left: 7.75%;
  margin-top: 50px;
}

.quotes{
  position: absolute;
  width: 270px;
  height: auto;
  padding: 15px;
  top: 650px;
  margin-left: 2.5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.quoteImage{
  height: 350px;
  width: 300px;
}

.articlePaper{
  grid-area: articles;
  height: 86%;
  overflow-y: scroll;
  margin-top: 30px;
  margin-right: 20px;
  padding-right: 50px;
}

.articleGrid{
  padding-top: 2%;
  padding-bottom: 7%;
  display: grid;
  /*0.5rem*/
  /*
  column-gap: 45px;
  row-gap: 10px;
  */
  gap: 30px;
  grid-template-columns: repeat(3, minmax(0px, 1fr)); /*0 prevents images from clipping outside border-box*/
  grid-template-rows: auto;
  margin-left: 0%;
}
