main{
  background: linear-gradient(250.33deg, #F4B1FF 8.56%, #BEFFE8 89.7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: none; /* added to remove border */
}
  
.topics{
    font-size: 1rem;
    padding-top: 25px;
    padding-bottom: 10px;
    letter-spacing: 0.5rem;
    font-family: 'SF Pro', sans-serif;
}
  .logo {
    font-size: 4rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
    position: fixed;
    top: 20%;
    font-family: 'SF Pro', sans-serif;
  }
  .subtitle{
    font-size: 1rem;
    letter-spacing: 0.5rem;
    position: fixed;
    padding-top: 0;
    top: 40%;
    font-family: 'SF Pro', sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30%;
    width: 100%;
    max-width: 400px;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    transform: translateY(-2px);
  }
  
  .contributor, .guest , .register {
    background-color: #333;
    color: #fff;
  }
  
  button a {
    color: #fff;
    text-decoration: none;
  }
  
.articleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
}
.submit{
  position: fixed;
  bottom: -15%;
}