@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.sheesh{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
}

input, select, textarea{
  color: white;
}

.logo {
  position: relative;
  align-self: center;
  left: -7%;

  width: 400px;

  font-family: 'Montserrat', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 117px;

  color: white;
}

.logo2 {
  font-size: 115rem;
  color:#3A448C;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.userInput > h4 {
  font-size: 12px;
}


form{
  position: relative;
  left: 25rem;
  align-self: flex-end;
}

.signInBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;

  position: absolute;


  background: #3A448C;
  border-radius: 999px;

  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: sans-serif;
}

.createAccBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  
  top: 25rem;
  left: 0rem;

  position: relative;
  height: 2.5rem;
  
  color: #3A448C;
  background-color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;

}

.message{
  /* background-color: red; */
  top: 21.5rem;
  right: 12rem;
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  color:white;
  left: 15rem;;
  
}
    
.signInBtn:hover, .createAccBtn:hover {
  background-color: lightgrey;
  color:black;
  
}