body{
  background-color: linear-gradient(to right, #A473E6, #9DB7FD, #87FAE7);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  
  .logo {
    margin-top: -300px;
    font-size: 3.5rem;
		color: #59515e;
		font-weight: bold;
		font-family: sans-serif;
		align-self: center;
    text-align: center;
}

  .logo2 {
    margin-top: -300px;
    font-size: 1.7rem;
    color: #59515e;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .message {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5rem;
    color: #59515e;
    font-family: sans-serif;
    text-transform: uppercase;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  

  .articleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;

  
}

.chips{
  margin:10px;
}

.submit{
  font-size: 25px;
  margin: 10px;
}