form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  textarea,
  input {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
  }

  